<!-- <div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">From the blog</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">Learn how to grow your business with our expert advice.</p>
    </div>
    <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="2020-03-16" class="text-gray-500">Mar 16, 2020</time>
          <a href="#" class="relative z-10 rounded-full bg-gray-50 py-1.5 px-3 font-medium text-gray-600 hover:bg-gray-100">Marketing</a>
        </div>
        <div class="group relative">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
            <a href="#">
              <span class="absolute inset-0"></span>
              Boost your conversion rate
            </a>
          </h3>
          <p class="mt-5 text-sm leading-6 text-gray-600 line-clamp-3">Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta.</p>
        </div>
        <div class="relative mt-8 flex items-center gap-x-4">
          <img src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="h-10 w-10 rounded-full bg-gray-50">
          <div class="text-sm leading-6">
            <p class="font-semibold text-gray-900">
              <a href="#">
                <span class="absolute inset-0"></span>
                Michael Foster
              </a>
            </p>
            <p class="text-gray-600">Co-Founder / CTO</p>
          </div>
        </div>
      </article>
      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="2020-03-16" class="text-gray-500">Mar 16, 2020</time>
          <a href="#" class="relative z-10 rounded-full bg-gray-50 py-1.5 px-3 font-medium text-gray-600 hover:bg-gray-100">Marketing</a>
        </div>
        <div class="group relative">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
            <a href="#">
              <span class="absolute inset-0"></span>
              Boost your conversion rate
            </a>
          </h3>
          <p class="mt-5 text-sm leading-6 text-gray-600 line-clamp-3">Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta.</p>
        </div>
        <div class="relative mt-8 flex items-center gap-x-4">
          <img src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="h-10 w-10 rounded-full bg-gray-50">
          <div class="text-sm leading-6">
            <p class="font-semibold text-gray-900">
              <a href="#">
                <span class="absolute inset-0"></span>
                Michael Foster
              </a>
            </p>
            <p class="text-gray-600">Co-Founder / CTO</p>
          </div>
        </div>
      </article>
      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="2020-03-16" class="text-gray-500">Mar 16, 2020</time>
          <a href="#" class="relative z-10 rounded-full bg-gray-50 py-1.5 px-3 font-medium text-gray-600 hover:bg-gray-100">Marketing</a>
        </div>
        <div class="group relative">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
            <a href="#">
              <span class="absolute inset-0"></span>
              Boost your conversion rate
            </a>
          </h3>
          <p class="mt-5 text-sm leading-6 text-gray-600 line-clamp-3">Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta.</p>
        </div>
        <div class="relative mt-8 flex items-center gap-x-4">
          <img src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="h-10 w-10 rounded-full bg-gray-50">
          <div class="text-sm leading-6">
            <p class="font-semibold text-gray-900">
              <a href="#">
                <span class="absolute inset-0"></span>
                Michael Foster
              </a>
            </p>
            <p class="text-gray-600">Co-Founder / CTO</p>
          </div>
        </div>
      </article>


    </div>
  </div>
</div> -->



<!-- example 2 -->
<!-- <section class="dark:bg-gray-800 dark:text-gray-100">
	<div class="container max-w-6xl p-6 mx-auto space-y-6 sm:space-y-12">
		<a rel="noopener noreferrer" href="#" class="block max-w-sm gap-3 mx-auto sm:max-w-full group hover:no-underline focus:no-underline lg:grid lg:grid-cols-12 dark:bg-gray-900">
			<img src="https://source.unsplash.com/random/480x360" alt="" class="object-cover w-full h-64 rounded sm:h-96 lg:col-span-7 dark:bg-gray-500">
			<div class="p-6 space-y-2 lg:col-span-5">
				<h3 class="text-2xl font-semibold sm:text-4xl group-hover:underline group-focus:underline">Noster tincidunt reprimique ad pro</h3>
				<span class="text-xs dark:text-gray-400">February 19, 2021</span>
				<p>Ei delenit sensibus liberavisse pri. Quod suscipit no nam. Est in graece fuisset, eos affert putent doctus id.</p>
			</div>
		</a>
		<div class="grid justify-center grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
			<a rel="noopener noreferrer" href="#" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-900">
				<img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="https://source.unsplash.com/random/480x360?1">
				<div class="p-6 space-y-2">
					<h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">In usu laoreet repudiare legendos</h3>
					<span class="text-xs dark:text-gray-400">January 21, 2021</span>
					<p>Mei ex aliquid eleifend forensibus, quo ad dicta apeirian neglegentur, ex has tantas percipit perfecto. At per tempor albucius perfecto, ei probatus consulatu patrioque mea, ei vocent delicata indoctum pri.</p>
				</div>
			</a>
			<a rel="noopener noreferrer" href="#" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-900">
				<img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="https://source.unsplash.com/random/480x360?2">
				<div class="p-6 space-y-2">
					<h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">In usu laoreet repudiare legendos</h3>
					<span class="text-xs dark:text-gray-400">January 22, 2021</span>
					<p>Mei ex aliquid eleifend forensibus, quo ad dicta apeirian neglegentur, ex has tantas percipit perfecto. At per tempor albucius perfecto, ei probatus consulatu patrioque mea, ei vocent delicata indoctum pri.</p>
				</div>
			</a>
			<a rel="noopener noreferrer" href="#" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-900">
				<img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="https://source.unsplash.com/random/480x360?3">
				<div class="p-6 space-y-2">
					<h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">In usu laoreet repudiare legendos</h3>
					<span class="text-xs dark:text-gray-400">January 23, 2021</span>
					<p>Mei ex aliquid eleifend forensibus, quo ad dicta apeirian neglegentur, ex has tantas percipit perfecto. At per tempor albucius perfecto, ei probatus consulatu patrioque mea, ei vocent delicata indoctum pri.</p>
				</div>
			</a>
			<a rel="noopener noreferrer" href="#" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-900 hidden sm:block">
				<img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="https://source.unsplash.com/random/480x360?4">
				<div class="p-6 space-y-2">
					<h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">In usu laoreet repudiare legendos</h3>
					<span class="text-xs dark:text-gray-400">January 24, 2021</span>
					<p>Mei ex aliquid eleifend forensibus, quo ad dicta apeirian neglegentur, ex has tantas percipit perfecto. At per tempor albucius perfecto, ei probatus consulatu patrioque mea, ei vocent delicata indoctum pri.</p>
				</div>
			</a>
			<a rel="noopener noreferrer" href="#" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-900 hidden sm:block">
				<img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="https://source.unsplash.com/random/480x360?5">
				<div class="p-6 space-y-2">
					<h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">In usu laoreet repudiare legendos</h3>
					<span class="text-xs dark:text-gray-400">January 25, 2021</span>
					<p>Mei ex aliquid eleifend forensibus, quo ad dicta apeirian neglegentur, ex has tantas percipit perfecto. At per tempor albucius perfecto, ei probatus consulatu patrioque mea, ei vocent delicata indoctum pri.</p>
				</div>
			</a>
			<a rel="noopener noreferrer" href="#" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-900 hidden sm:block">
				<img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="https://source.unsplash.com/random/480x360?6">
				<div class="p-6 space-y-2">
					<h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">In usu laoreet repudiare legendos</h3>
					<span class="text-xs dark:text-gray-400">January 26, 2021</span>
					<p>Mei ex aliquid eleifend forensibus, quo ad dicta apeirian neglegentur, ex has tantas percipit perfecto. At per tempor albucius perfecto, ei probatus consulatu patrioque mea, ei vocent delicata indoctum pri.</p>
				</div>
			</a>
		</div>
		<div class="flex justify-center">
			<button type="button" class="px-6 py-3 text-sm rounded-md hover:underline dark:bg-gray-900 dark:text-gray-400">Load more posts...</button>
		</div>
	</div>
</section> -->

<!-- exemple 3 -->
<div class="bg-gray-100">
  <!-- Remove py-8 -->
  <div class="mx-auto container py-8">
      <div class="flex flex-wrap items-center lg:justify-between justify-center">
          <!-- Card 1 -->
          <div class="mx-2 w-72 lg:mb-0 mb-8">
              <div>
                  <img src="https://cdn.tuk.dev/assets/templates/classified/Bitmap (1).png" class="w-full h-44" />
              </div>
              <div class="bg-white">
                  <div class="flex items-center justify-between px-4 pt-4">
                      <div>
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M9 4h6a2 2 0 0 1 2 2v14l-5-3l-5 3v-14a2 2 0 0 1 2 -2" />
                          </svg>
                      </div>
                      <div class="bg-yellow-200 py-1.5 px-6 rounded-full">
                          <p class="text-xs text-yellow-500">Featured</p>
                      </div>
                  </div>
                  <div class="p-4">
                      <div class="flex items-center">
                          <h2 class="text-lg font-semibold">Biệt thự đại học văn lang</h2>
                          <p class="text-xs text-gray-600 pl-5">4 days ago</p>
                      </div>
                      <p class="text-xs text-gray-600 mt-2">Biệt thự vị trí đẹp nhất khu gần đại học Văn Lang cần tiền bán gấp 10x20m - giá chỉ 25tỷ</p>
                      <div class="flex mt-4">
                          <div>
                              <p class="text-xs text-gray-600 px-2 bg-gray-200 py-1">12 months warranty</p>
                          </div>
                          <div class="pl-2">
                              <p class="text-xs text-gray-600 px-2 bg-gray-200 py-1">Complete box</p>
                          </div>
                      </div>
                      <div class="flex items-center justify-between py-4">
                          <h2 class="text-indigo-700 text-xs font-semibold">Bay Area, San Francisco</h2>
                          <h3 class="text-indigo-700 text-xl font-semibold">$350</h3>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Card 1 Ends -->
          <!-- Card 2 -->
          <div class="mx-2 w-72 lg:mb-0 mb-8">
              <div>
                  <img src="https://cdn.tuk.dev/assets/templates/classified/Bitmap (1).png" class="w-full h-44" />
              </div>
              <div class="bg-white">
                  <div class="flex items-center justify-between px-4 pt-4">
                      <div>
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M9 4h6a2 2 0 0 1 2 2v14l-5-3l-5 3v-14a2 2 0 0 1 2 -2" />
                          </svg>
                      </div>
                      <div class="bg-yellow-200 py-1.5 px-6 rounded-full">
                          <p class="text-xs text-yellow-500">Featured</p>
                      </div>
                  </div>
                  <div class="p-4">
                      <div class="flex items-center">
                          <h2 class="text-lg font-semibold">iphone XS</h2>
                          <p class="text-xs text-gray-600 pl-5">4 days ago</p>
                      </div>
                      <p class="text-xs text-gray-600 mt-2">The Apple iPhone XS is available in 3 colors with 64GB memory. Shoot amazing videos</p>
                      <div class="flex mt-4">
                          <div>
                              <p class="text-xs text-gray-600 px-2 bg-gray-200 py-1">12 months warranty</p>
                          </div>
                          <div class="pl-2">
                              <p class="text-xs text-gray-600 px-2 bg-gray-200 py-1">Complete box</p>
                          </div>
                      </div>
                      <div class="flex items-center justify-between py-4">
                          <h2 class="text-indigo-700 text-xs font-semibold">Bay Area, San Francisco</h2>
                          <h3 class="text-indigo-700 text-xl font-semibold">$350</h3>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Card 2 Ends -->
          <!-- Card 3  -->
          <div class="mx-2 w-72 lg:mb-0 mb-8">
              <div>
                  <img src="https://cdn.tuk.dev/assets/templates/classified/Bitmap (1).png" class="w-full h-44" />
              </div>
              <div class="bg-white">
                  <div class="flex items-center justify-between px-4 pt-4">
                      <div>
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M9 4h6a2 2 0 0 1 2 2v14l-5-3l-5 3v-14a2 2 0 0 1 2 -2" />
                          </svg>
                      </div>
                      <div class="bg-yellow-200 py-1.5 px-6 rounded-full">
                          <p class="text-xs text-yellow-500">Featured</p>
                      </div>
                  </div>
                  <div class="p-4">
                      <div class="flex items-center">
                          <h2 class="text-lg font-semibold">iphone XS</h2>
                          <p class="text-xs text-gray-600 pl-5">4 days ago</p>
                      </div>
                      <p class="text-xs text-gray-600 mt-2">The Apple iPhone XS is available in 3 colors with 64GB memory. Shoot amazing videos</p>
                      <div class="flex mt-4">
                          <div>
                              <p class="text-xs text-gray-600 px-2 bg-gray-200 py-1">12 months warranty</p>
                          </div>
                          <div class="pl-2">
                              <p class="text-xs text-gray-600 px-2 bg-gray-200 py-1">Complete box</p>
                          </div>
                      </div>
                      <div class="flex items-center justify-between py-4">
                          <h2 class="text-indigo-700 text-xs font-semibold">Bay Area, San Francisco</h2>
                          <h3 class="text-indigo-700 text-xl font-semibold">$350</h3>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Card 3 Ends -->
          <!-- Card 4  -->
          <div class="w-72 mx-2 lg:mb-0 mb-8">
              <div>
                  <img src="https://cdn.tuk.dev/assets/templates/classified/Bitmap (1).png" class="w-full h-44" />
              </div>
              <div class="bg-white">
                  <div class="flex items-center justify-between px-4 pt-4">
                      <div>
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M9 4h6a2 2 0 0 1 2 2v14l-5-3l-5 3v-14a2 2 0 0 1 2 -2" />
                          </svg>
                      </div>
                      <div class="bg-yellow-200 py-1.5 px-6 rounded-full">
                          <p class="text-xs text-yellow-500">Featured</p>
                      </div>
                  </div>
                  <div class="p-4">
                      <div class="flex items-center">
                          <h2 class="text-lg font-semibold">iphone XS</h2>
                          <p class="text-xs text-gray-600 pl-5">4 days ago</p>
                      </div>
                      <p class="text-xs text-gray-600 mt-2">The Apple iPhone XS is available in 3 colors with 64GB memory. Shoot amazing videos</p>
                      <div class="flex mt-4">
                          <div>
                              <p class="text-xs text-gray-600 px-2 bg-gray-200 py-1">12 months warranty</p>
                          </div>
                          <div class="pl-2">
                              <p class="text-xs text-gray-600 px-2 bg-gray-200 py-1">Complete box</p>
                          </div>
                      </div>
                      <div class="flex items-center justify-between py-4">
                          <h2 class="text-indigo-700 text-xs font-semibold">Bay Area, San Francisco</h2>
                          <h3 class="text-indigo-700 text-xl font-semibold">$350</h3>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Card 4 Ends -->
      </div>
      <div class="flex flex-wrap items-center lg:justify-between justify-center pb-10 mt-16">
          <!-- Card 1 -->
          <div class="mx-2 w-72 lg:mb-0 mb-8">
              <div>
                  <img src="https://cdn.tuk.dev/assets/templates/classified/Bitmap.png" class="w-full h-44" />
              </div>
              <div class="bg-white">
                  <div class="flex items-center justify-between px-4 pt-4">
                      <div>
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M9 4h6a2 2 0 0 1 2 2v14l-5-3l-5 3v-14a2 2 0 0 1 2 -2" />
                          </svg>
                      </div>
                      <div class="bg-yellow-200 py-1.5 px-6 rounded-full">
                          <p class="text-xs text-yellow-500">Featured</p>
                      </div>
                  </div>
                  <div class="p-4">
                      <div class="flex items-center">
                          <h2 class="text-lg font-semibold">iphone XS</h2>
                          <p class="text-xs text-gray-600 pl-5">4 days ago</p>
                      </div>
                      <p class="text-xs text-gray-600 mt-2">The Apple iPhone XS is available in 3 colors with 64GB memory. Shoot amazing videos</p>
                      <div class="flex mt-4">
                          <div>
                              <p class="text-xs text-gray-600 px-2 bg-gray-200 py-1">12 months warranty</p>
                          </div>
                          <div class="pl-2">
                              <p class="text-xs text-gray-600 px-2 bg-gray-200 py-1">Complete box</p>
                          </div>
                      </div>
                      <div class="flex items-center justify-between py-4">
                          <h2 class="text-indigo-700 text-xs font-semibold">Bay Area, San Francisco</h2>
                          <h3 class="text-indigo-700 text-xl font-semibold">$350</h3>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Card 1 Ends -->
          <!-- Card 2 -->
          <div class="mx-2 w-72 lg:mb-0 mb-8">
              <div>
                  <img src="https://cdn.tuk.dev/assets/templates/classified/Bitmap.png" class="w-full h-44" />
              </div>
              <div class="bg-white">
                  <div class="flex items-center justify-between px-4 pt-4">
                      <div>
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M9 4h6a2 2 0 0 1 2 2v14l-5-3l-5 3v-14a2 2 0 0 1 2 -2" />
                          </svg>
                      </div>
                      <div class="bg-yellow-200 py-1.5 px-6 rounded-full">
                          <p class="text-xs text-yellow-500">Featured</p>
                      </div>
                  </div>
                  <div class="p-4">
                      <div class="flex items-center">
                          <h2 class="text-lg font-semibold">iphone XS</h2>
                          <p class="text-xs text-gray-600 pl-5">4 days ago</p>
                      </div>
                      <p class="text-xs text-gray-600 mt-2">The Apple iPhone XS is available in 3 colors with 64GB memory. Shoot amazing videos</p>
                      <div class="flex mt-4">
                          <div>
                              <p class="text-xs text-gray-600 px-2 bg-gray-200 py-1">12 months warranty</p>
                          </div>
                          <div class="pl-2">
                              <p class="text-xs text-gray-600 px-2 bg-gray-200 py-1">Complete box</p>
                          </div>
                      </div>
                      <div class="flex items-center justify-between py-4">
                          <h2 class="text-indigo-700 text-xs font-semibold">Bay Area, San Francisco</h2>
                          <h3 class="text-indigo-700 text-xl font-semibold">$350</h3>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Card 2 Ends -->
          <!-- Card 3  -->
          <div class="mx-2 w-72 lg:mb-0 mb-8">
              <div>
                  <img src="https://cdn.tuk.dev/assets/templates/classified/Bitmap.png" class="w-full h-44" />
              </div>
              <div class="bg-white">
                  <div class="flex items-center justify-between px-4 pt-4">
                      <div>
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M9 4h6a2 2 0 0 1 2 2v14l-5-3l-5 3v-14a2 2 0 0 1 2 -2" />
                          </svg>
                      </div>
                      <div class="bg-yellow-200 py-1.5 px-6 rounded-full">
                          <p class="text-xs text-yellow-500">Featured</p>
                      </div>
                  </div>
                  <div class="p-4">
                      <div class="flex items-center">
                          <h2 class="text-lg font-semibold">iphone XS</h2>
                          <p class="text-xs text-gray-600 pl-5">4 days ago</p>
                      </div>
                      <p class="text-xs text-gray-600 mt-2">The Apple iPhone XS is available in 3 colors with 64GB memory. Shoot amazing videos</p>
                      <div class="flex mt-4">
                          <div>
                              <p class="text-xs text-gray-600 px-2 bg-gray-200 py-1">12 months warranty</p>
                          </div>
                          <div class="pl-2">
                              <p class="text-xs text-gray-600 px-2 bg-gray-200 py-1">Complete box</p>
                          </div>
                      </div>
                      <div class="flex items-center justify-between py-4">
                          <h2 class="text-indigo-700 text-xs font-semibold">Bay Area, San Francisco</h2>
                          <h3 class="text-indigo-700 text-xl font-semibold">$350</h3>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Card 3 Ends -->
          <!-- Card 4  -->
          <div class="mx-2 w-72 lg:mb-0 mb-8">
              <div>
                  <img src="https://cdn.tuk.dev/assets/templates/classified/Bitmap.png" class="w-full h-44" />
              </div>
              <div class="bg-white">
                  <div class="flex items-center justify-between px-4 pt-4">
                      <div>
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path d="M9 4h6a2 2 0 0 1 2 2v14l-5-3l-5 3v-14a2 2 0 0 1 2 -2" />
                          </svg>
                      </div>
                      <div class="bg-yellow-200 py-1.5 px-6 rounded-full">
                          <p class="text-xs text-yellow-500">Featured</p>
                      </div>
                  </div>
                  <div class="p-4">
                      <div class="flex items-center">
                          <h2 class="text-lg font-semibold">iphone XS</h2>
                          <p class="text-xs text-gray-600 pl-5">4 days ago</p>
                      </div>
                      <p class="text-xs text-gray-600 mt-2">The Apple iPhone XS is available in 3 colors with 64GB memory. Shoot amazing videos</p>
                      <div class="flex mt-4">
                          <div>
                              <p class="text-xs text-gray-600 px-2 bg-gray-200 py-1">12 months warranty</p>
                          </div>
                          <div class="pl-2">
                              <p class="text-xs text-gray-600 px-2 bg-gray-200 py-1">Complete box</p>
                          </div>
                      </div>
                      <div class="flex items-center justify-between py-4">
                          <h2 class="text-indigo-700 text-xs font-semibold">Bay Area, San Francisco</h2>
                          <h3 class="text-indigo-700 text-xl font-semibold">$350</h3>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Card 4 Ends -->
      </div>
  </div>
</div>
